[submodule "3botlogin_backend"]
	path = 3botlogin_backend
	url = git@github.com:3botlogin/3botlogin_backend.git
[submodule "3botlogin_frontend"]
	path = 3botlogin_frontend
	url = git@github.com:3botlogin/3botlogin_frontend.git
